<div class="container">

  <h3>{{model.nombre}}</h3>

  Más información:

  <div class="row">
    Descripción: {{model.descripcion}}
  </div>

  <div class="row">
    Fecha: {{model.fecha}}
  </div>

</div>
