
<div class="conteiner">


  <table class="table table-hover ">

      <thead>
      <tr>
          <th>Nombre Evento</th>
          <th>Descripcion</th>
          <th>Descripcion</th>
      </tr>
      </thead>
      <tbody>


      {{#each model as |evento|}}
          <tr>
            <td>{{evento.id}} - {{evento.nombre}}</td>
            <td> {{evento.descripcion}}</td>
            <td>{{evento.fecha}}</td>
          </tr>
      {{/each}}

      </tbody>
  </table>

</div>