<div class="container" class="evento borde-redondeado">



  <h3>{{model.nombre}}</h3>

  <div class="row">
    <span>Descripción: </span>{{model.descripcion}}
  </div>

  <div class="row">
      <span> Fecha:</span>
      <p>{{model.fechaFormateada}}</p>
  </div>

</div>
