<div class="container">


  <table class="table table-hover ">

    <thead>
    <tr>
      <th>Nombre Evento</th>
      <th>Fecha</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>


    {{#each model as |invitacion|}}
      <tr>
        <td>{{invitacion.id_evento}} - {{invitacion.nombre_evento}}</td>
        <td>{{invitacion.fecha_evento}}</td>
        <td><a href="#">Ver mas...</a></td>
        <td>
          <button>Aceptar</button>
          <button>Rechazar</button>
        </td>
      </tr>
    {{/each}}

    </tbody>
  </table>

</div>
