{{#link-to 'signup'}}Registrarme{{/link-to}}

<form {{action 'authenticate' on='submit'}}>
    <label for="identification">Login</label>


  {{validated-input type="text" value=identification placeholder="Ingrese Email"  errors=errors.identification}}

    <label for="password">Password</label>

  {{validated-input type="password" value=password placeholder="Ingrese Contraseña"  errors=errors.password}}

    <button type="submit">Login</button>
</form>