<div>
  <span>{{query.query.results.channel.location.city}}</span>

  <span>Temperatura {{query.query.results.channel.item.condition.temp}} C</span>


  <span>Humedad {{query.query.results.channel.atmosphere.humidity}} %</span>

  <span>Presion {{query.query.results.channel.atmosphere.humidity}} %</span>




</div>
